@model SwimCreate;


@section scripts
    {
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/appScriptsJS/SwimWorkout.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
}

<div id="dialog-1">
    <table>
        <tr>
            <td><button id="delete" class="btn btn-primary" style="margin:10px">Delete</button></td>
        </tr>
        <tr>
            <td><button id="rename" class="btn btn-primary" style="margin:10px">Rename</button></td>
            <td><input id="newname" type="text" style="width: 150px; margin:10px" /></td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("Calculate", "CreateWorkout", FormMethod.Post))
{
    <table>
        <tr>
            <td style="padding-bottom: 70px;">
                <div style="padding: 20px 0px 0px 10px;">
                    <text class="medboldtext">Saved Workouts</text>
                </div>
                <div class="workoutsborder">
                    <table>
                        @for (var i = 0; i < Model.Workouts.Count; i++)
                        {
                            <tr>
                                <td>
                                    <text></text>
                                    <button type="submit"
                                            id=@("workout_" + i.ToString())
                                            class="btn btn-primary"
                                            style="margin-left:5px; margin-top:10px;"
                                            formaction="/CreateWorkout/LoadWorkout?id=@Model.Workouts[i].Id" ,
                                            title="@Model.Workouts[i].Description"
                                            data_workoutId="@Model.Workouts[i].Id">
                                        @Model.Workouts[i].Name
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <div style="margin-left:20px">
                        <div>
                            <text class="instructions">Pool Length</text>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div class="poolsizeborder">
                                        <table>
                                            <tr>
                                                <td style="padding-right:10px;">
                                                    @Html.RadioButtonFor(m => m.PoolLength,
                                                                          "25 Yards",
                                                                          new { @class = "poollengthinput" })
                                                </td>
                                                <td style="padding-bottom:2px;">25 Yards</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right:10px;">
                                                    @Html.RadioButtonFor(m => m.PoolLength,
                                                                          "25 Meters",
                                                                          new { @class = "poollengthinput" })
                                                </td>
                                                <td style="padding-bottom:2px;">25 Meters</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right:10px;">
                                                    @Html.RadioButtonFor(m => m.PoolLength,
                                                                          "50 Meters",
                                                                          new { @class = "poollengthinput" })
                                                </td>
                                                <td style="padding-bottom:2px;">50 Meters</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-right:10px;">
                                                    @Html.RadioButtonFor(m => m.PoolLength,
                                                                          "33.33 Yards",
                                                                          new { @class = "poollengthinput" })
                                                </td>
                                                <td style="padding-bottom:2px;">33.33 Yards</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div class="workoutdescborder">
                                        <table>
                                            <tr>
                                                <td class="medboldtext" style="margin-right:10px;">
                                                    Workout Name
                                                </td>
                                                <td class="medboldtext" style="margin-right:10px;">
                                                    Athlete Name
                                                </td>
                                                <td class="medboldtext" style="margin-right:10px;">
                                                    Coach Name
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.TextBoxFor(m => m.WorkoutName, new { @style = "margin-right:10px;" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.AthleteName, new { @style = "margin-right:10px;" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.CoachName, new { @style = "margin-right:10px; background-color: lightgray", @readonly = "true" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="medboldtext">
                                                    Description
                                                </td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                            <tr>
                                                <td>
                                                    @Html.TextAreaFor(m => m.WorkoutDescription, new
                                        {
                                            @class = "descbox",
                                            @TextMode = "MultiLine",
                                            @Columns = "50",
                                            @Rows = "5"
                                        })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div style="margin: 20px 0;">
                            <table>
                                <tr>
                                    <td class="totalmeterslabel">Total Yards</td>
                                    <td class="numentry">
                                        @Html.TextBoxFor(m => m.TotalYards, new
                            {
                                @type = "number",
                                @class = "readonlynumentry",
                                @id = "yardstotal",
                                @readonly = "true"
                            })
                                    </td>
                                    <td class="totalmeterslabel">Total Meters</td>
                                    <td class="numentry">
                                        @Html.TextBoxFor(m => m.TotalMeters, new
                            {
                                @type = "number",
                                @class = "readonlynumentry",
                                @id = "meterstotal",
                                @readonly = "true"
                            })
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div style="font-weight:bold; font-size:25px; width:200px;">Warm Up</div>
                        <div style="width:800px">
                            @await Html.PartialAsync("_AddSets", new ViewDataDictionary(this.ViewData) { {"begin", Model.WarmUpBeginSteps  },
                                                                  { "end", Model.WarmUpEndSteps } })
                        </div>
                        <div style="font-weight:bold; font-size:25px; width:200px;">Main Set</div>
                        <div style="width:800px">
                            @await Html.PartialAsync("_AddSets", new ViewDataDictionary(this.ViewData) { {"begin", Model.MainBeginSteps  },
                                                                  { "end", Model.MainEndSteps } })
                        </div>
                        <div style="font-weight:bold; font-size:25px; width:200px;">Cooldown</div>
                        <div style="width:800px">
                            @await Html.PartialAsync("_AddSets", new ViewDataDictionary(this.ViewData) { {"begin", Model.CoolDownBeginSteps  },
                                                                          { "end", Model.CoolDownEndSteps } })
                        </div>
                    </div>
                </div>

                <div id="swimout">
                    @Html.TextAreaFor(m => m.Calculated, new { @class = "swimoutput", @id = "swimouttext" })
                </div>
                @Html.HiddenFor(m => m.WarmUpBeginSteps)
                @Html.HiddenFor(m => m.WarmUpEndSteps)
                @Html.HiddenFor(m => m.MainBeginSteps)
                @Html.HiddenFor(m => m.MainEndSteps)
                @Html.HiddenFor(m => m.CoolDownBeginSteps)
                @Html.HiddenFor(m => m.CoolDownEndSteps)
                @Html.HiddenFor(m => m.WorkoutId)
                <button type="submit" class="btn btn-primary" style="margin-left:20px; margin-top:20px;">Calculate</button>
                <button type="submit" class="btn btn-primary" style="margin-left:20px; margin-top:20px;" formaction=@Url.Action("Save")>Save</button>
                <button id="print" class="btn btn-primary" style="margin-left:34px; margin-top:20px;">Print</button>
            </td>
        </tr>
    </table>
}